@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

$primary-color: rgb(19, 91, 135);
$primary-color-variant: #4cc9f0;
$secondary-color: #f72585;
$white-color: #ffffff;
$light-color: rgba(#fff, 0.7);
$black-color: #0c031b;
$dark-color: rgba($black-color, 0.7);
$success-color: #54eb72;
$container-lg: 82%;
$container-md: 90%;

